
@model House

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <!-- <i class="fas fa-times"></i> -->
        </button>
    </div>
    <div class="modal-body">
        <div class="ltn__quick-view-modal-inner">
            <div class="modal-product-item">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="modal-product-img">
                            <img src="~/Uploads/Houses/@Model.HouseImages.FirstOrDefault(x=> x.PosterStatus)?.ImageUrl" alt="#">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="modal-product-info">
                            <div class="product-ratting">
                                <ul>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                    <li><a href="#"><i class="far fa-star"></i></a></li>
                                    <li class="review-total"> <a href="#"> ( 95 Reviews )</a></li>
                                </ul>
                            </div>
                            <h3><a href="product-details.html">@Model.Title</a></h3>
                            <div class="product-price">
                                @{  
                                    if(Model.DiscountPercent > 0){
                                <span>$@((Model.Price *(100- Model.DiscountPercent)/100).ToString("0.00"))</span>
                                <del>$@Model.Price.ToString("0.00")</del>

                              }
                                else{
                                <span>$@Model.Price.ToString("0.00")</span>
                              }

                                }
                           
                              
                            </div>
                            <hr>
                            <div class="modal-product-brief">
                                <p>@Html.Raw(Model.Desc)</p>
                            </div>
         
                            <div class="ltn__product-details-menu-3">
                                <ul>
                                    <li>
                                        <a href="#" class="" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                            <i class="far fa-heart"></i>
                                            <span>Add to Wishlist</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <hr>
                            <div class="ltn__social-media">
                                <ul>
                                    <li>Share:</li>
                                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>

                                </ul>
                            </div>
                            <label class="float-end mb-0"><a class="text-decoration" asp-action="details" asp-controller="House" asp-route-id="@Model.Id" ><small>View Details</small></a></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>