
@model List<House>
@foreach (var house in Model)
{
    <div class="mini-cart-item clearfix">
    <div class="mini-cart-img">
        <a asp-action="details" asp-controller="house" asp-route-id="@house.Id"><img src="~/Uploads/Houses/@house.HouseImages.FirstOrDefault(x=> x.PosterStatus)?.ImageUrl" alt="Image"></a>
    </div>
    <div class="mini-cart-info">
            <h6><a asp-action="details" asp-controller="house" asp-route-id="@house.Id">@house.Title</a></h6>
    </div>
    </div>
}

