
@{
    ViewData["Title"] = "Edit";
}

@model Category
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Category</h4>

            <form asp-action="edit" method="post" class="form-inline">
                <label asp-for="Name" class="sr-only" for="inlineFormInputName2">Category Name</label>
                <div>
                    <input asp-for="Name" class="form-control mb-2 mr-sm-2">
                </div>



                <button type="submit" class="btn btn-primary mb-2">Edit</button>
                <a class="btn btn-light" asp-action="index" asp-controller="Category">Cancel</a>

            </form>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </div>
</div>


