
@{
    ViewData["Title"] = "ResetPassword";
    var email = TempData["email"];
    var token = TempData["token"];
}
@model ResetPasswordViewModel
<div class="ltn__login-area pb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area text-center">
                    <h1 class="section-title">Reset <br>Your Password</h1>
  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="account-login-inner">
                    <form asp-action="resetPassword" method="post" asp-controller="account" class="ltn__form-box contact-form-box" enctype="multipart/form-data">
                        <input asp-for="Password" type="password" placeholder=" new Password*">
                        <span class="text-danger" asp-validation-for="Password"></span>
                        <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password*">
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        <div class="btn-wrapper">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <input asp-for="Email"  type="hidden" value="@email"/>
                            <input asp-for="Token"type="hidden" value="@token"/>
                            <button class="theme-btn-1 btn reverse-color btn-block" type="submit">RESET PASSWORD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>